<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trade.Mappers.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.trade.D001.T0002.Entity.CompanyEntiry">
    <id column="companycode" jdbcType="VARCHAR" property="companycode" />
    <result column="companyname" jdbcType="VARCHAR" property="companyname" />
    <result column="founddate" jdbcType="TIMESTAMP" property="founddate" />
    <result column="legalperson" jdbcType="VARCHAR" property="legalperson" />
  </resultMap>
  <sql id="Base_Column_List">
    companycode, companyname, founddate, legalperson
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where companycode = #{companycode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from company
    where companycode = #{companycode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="companycode" keyProperty="companycode" parameterType="com.trade.D001.T0002.Entity.CompanyEntiry" useGeneratedKeys="true">
    insert into company (companyname, founddate, legalperson
      )
    values (#{companyname,jdbcType=VARCHAR}, #{founddate,jdbcType=TIMESTAMP}, #{legalperson,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="companycode" keyProperty="companycode" parameterType="com.trade.D001.T0002.Entity.CompanyEntiry" useGeneratedKeys="true">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyname != null">
        companyname,
      </if>
      <if test="founddate != null">
        founddate,
      </if>
      <if test="legalperson != null">
        legalperson,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyname != null">
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="founddate != null">
        #{founddate,jdbcType=TIMESTAMP},
      </if>
      <if test="legalperson != null">
        #{legalperson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trade.D001.T0002.Entity.CompanyEntiry">
    update company
    <set>
      <if test="companyname != null">
        companyname = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="founddate != null">
        founddate = #{founddate,jdbcType=TIMESTAMP},
      </if>
      <if test="legalperson != null">
        legalperson = #{legalperson,jdbcType=VARCHAR},
      </if>
    </set>
    where companycode = #{companycode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trade.D001.T0002.Entity.CompanyEntiry">
    update company
    set companyname = #{companyname,jdbcType=VARCHAR},
      founddate = #{founddate,jdbcType=TIMESTAMP},
      legalperson = #{legalperson,jdbcType=VARCHAR}
    where companycode = #{companycode,jdbcType=VARCHAR}
  </update>
</mapper>