<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.E001.Mapper.FuncMapper">
  <resultMap id="BaseResultMap" type="com.E001.Entity.Func">
    <id column="name" jdbcType="CHAR" property="name" />
    <result column="ret" jdbcType="BOOLEAN" property="ret" />
    <result column="dl" jdbcType="CHAR" property="dl" />
    <result column="type" jdbcType="OTHER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    `name`, ret, dl, `type`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from func
    where `name` = #{name,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from func
    where `name` = #{name,jdbcType=CHAR}
  </delete>
  <insert id="insert" keyColumn="name" keyProperty="name" parameterType="com.E001.Entity.Func" useGeneratedKeys="true">
    insert into func (ret, dl, `type`)
    values (#{ret,jdbcType=BOOLEAN}, #{dl,jdbcType=CHAR}, #{type,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" keyColumn="name" keyProperty="name" parameterType="com.E001.Entity.Func" useGeneratedKeys="true">
    insert into func
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ret != null">
        ret,
      </if>
      <if test="dl != null">
        dl,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ret != null">
        #{ret,jdbcType=BOOLEAN},
      </if>
      <if test="dl != null">
        #{dl,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.E001.Entity.Func">
    update func
    <set>
      <if test="ret != null">
        ret = #{ret,jdbcType=BOOLEAN},
      </if>
      <if test="dl != null">
        dl = #{dl,jdbcType=CHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=OTHER},
      </if>
    </set>
    where `name` = #{name,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.E001.Entity.Func">
    update func
    set ret = #{ret,jdbcType=BOOLEAN},
      dl = #{dl,jdbcType=CHAR},
      `type` = #{type,jdbcType=OTHER}
    where `name` = #{name,jdbcType=CHAR}
  </update>
</mapper>