<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trade.Mappers.TradeRequestRulesMapper">
  <resultMap id="BaseResultMap" type="com.message.rulesFieldCheck.Entity.TradeRequestRulesEntity">
    <result column="Channel" jdbcType="VARCHAR" property="channel" />
    <result column="ServiceCode" jdbcType="VARCHAR" property="servicecode" />
    <result column="SceneCode" jdbcType="VARCHAR" property="scenecode" />
    <result column="isCommon" jdbcType="OTHER" property="iscommon" />
    <result column="Require" jdbcType="OTHER" property="require" />
    <result column="FiledName" jdbcType="VARCHAR" property="filedname" />
    <result column="FiledDes" jdbcType="VARCHAR" property="fileddes" />
    <result column="FiledType" jdbcType="OTHER" property="filedtype" />
    <result column="FiledLength" jdbcType="VARCHAR" property="filedlength" />
  </resultMap>
  <!--Base_Column_List标签内字段顺序为返回后访问顺序-->
  <sql id="Base_Column_List">
        Channel, ServiceCode, SceneCode,
        isCommon, `Require`, FiledName,
        FiledDes, FiledType, FiledLength
  </sql>

  <insert id="insert" parameterType="com.message.rulesFieldCheck.Entity.TradeRequestRulesEntity">
    insert into trade_request_rules (Channel, ServiceCode, SceneCode, 
      isCommon, `Require`, FiledName, 
      FiledDes, FiledType, FiledLength
      )
    values (#{channel,jdbcType=VARCHAR}, #{servicecode,jdbcType=VARCHAR}, #{scenecode,jdbcType=VARCHAR}, 
      #{iscommon,jdbcType=OTHER}, #{require,jdbcType=OTHER}, #{filedname,jdbcType=VARCHAR}, 
      #{fileddes,jdbcType=VARCHAR}, #{filedtype,jdbcType=OTHER}, #{filedlength,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.message.rulesFieldCheck.Entity.TradeRequestRulesEntity">
    insert into trade_request_rules
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channel != null">
        Channel,
      </if>
      <if test="servicecode != null">
        ServiceCode,
      </if>
      <if test="scenecode != null">
        SceneCode,
      </if>
      <if test="iscommon != null">
        isCommon,
      </if>
      <if test="require != null">
        `Require`,
      </if>
      <if test="filedname != null">
        FiledName,
      </if>
      <if test="fileddes != null">
        FiledDes,
      </if>
      <if test="filedtype != null">
        FiledType,
      </if>
      <if test="filedlength != null">
        FiledLength,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="servicecode != null">
        #{servicecode,jdbcType=VARCHAR},
      </if>
      <if test="scenecode != null">
        #{scenecode,jdbcType=VARCHAR},
      </if>
      <if test="iscommon != null">
        #{iscommon,jdbcType=OTHER},
      </if>
      <if test="require != null">
        #{require,jdbcType=OTHER},
      </if>
      <if test="filedname != null">
        #{filedname,jdbcType=VARCHAR},
      </if>
      <if test="fileddes != null">
        #{fileddes,jdbcType=VARCHAR},
      </if>
      <if test="filedtype != null">
        #{filedtype,jdbcType=OTHER},
      </if>
      <if test="filedlength != null">
        #{filedlength,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--根据服务码 ServiceCode ，场景码SceneCode , 渠道Channel查询-->
  <select id="selectRulesBySSC" parameterType="com.message.rulesFieldCheck.Entity.TradeRequestRulesEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM menagerie.trade_request_rules
    WHERE servicecode = #{servicecode,jdbcType=VARCHAR} and servicecode = #{scenecode,jdbcType=VARCHAR} and servicecode = #{channel,jdbcType=VARCHAR}
  </select>
</mapper>