<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trade.Mappers.UserMapper">
  <resultMap id="BaseResultMap" type="com.trade.D001.T0001.Entity.UserEntity">
    <id column="Host" jdbcType="CHAR" property="host" />
    <id column="User" jdbcType="CHAR" property="user" />
    <result column="Select_priv" jdbcType="OTHER" property="selectPriv" />
    <result column="Insert_priv" jdbcType="OTHER" property="insertPriv" />
    <result column="Update_priv" jdbcType="OTHER" property="updatePriv" />
    <result column="Delete_priv" jdbcType="OTHER" property="deletePriv" />
    <result column="Create_priv" jdbcType="OTHER" property="createPriv" />
    <result column="Drop_priv" jdbcType="OTHER" property="dropPriv" />
    <result column="Reload_priv" jdbcType="OTHER" property="reloadPriv" />
    <result column="Shutdown_priv" jdbcType="OTHER" property="shutdownPriv" />
    <result column="Process_priv" jdbcType="OTHER" property="processPriv" />
    <result column="File_priv" jdbcType="OTHER" property="filePriv" />
    <result column="Grant_priv" jdbcType="OTHER" property="grantPriv" />
    <result column="References_priv" jdbcType="OTHER" property="referencesPriv" />
    <result column="Index_priv" jdbcType="OTHER" property="indexPriv" />
    <result column="Alter_priv" jdbcType="OTHER" property="alterPriv" />
    <result column="Show_db_priv" jdbcType="OTHER" property="showDbPriv" />
    <result column="Super_priv" jdbcType="OTHER" property="superPriv" />
    <result column="Create_tmp_table_priv" jdbcType="OTHER" property="createTmpTablePriv" />
    <result column="Lock_tables_priv" jdbcType="OTHER" property="lockTablesPriv" />
    <result column="Execute_priv" jdbcType="OTHER" property="executePriv" />
    <result column="Repl_slave_priv" jdbcType="OTHER" property="replSlavePriv" />
    <result column="Repl_client_priv" jdbcType="OTHER" property="replClientPriv" />
    <result column="Create_view_priv" jdbcType="OTHER" property="createViewPriv" />
    <result column="Show_view_priv" jdbcType="OTHER" property="showViewPriv" />
    <result column="Create_routine_priv" jdbcType="OTHER" property="createRoutinePriv" />
    <result column="Alter_routine_priv" jdbcType="OTHER" property="alterRoutinePriv" />
    <result column="Create_user_priv" jdbcType="OTHER" property="createUserPriv" />
    <result column="Event_priv" jdbcType="OTHER" property="eventPriv" />
    <result column="Trigger_priv" jdbcType="OTHER" property="triggerPriv" />
    <result column="Create_tablespace_priv" jdbcType="OTHER" property="createTablespacePriv" />
    <result column="ssl_type" jdbcType="OTHER" property="sslType" />
    <result column="max_questions" jdbcType="INTEGER" property="maxQuestions" />
    <result column="max_updates" jdbcType="INTEGER" property="maxUpdates" />
    <result column="max_connections" jdbcType="INTEGER" property="maxConnections" />
    <result column="max_user_connections" jdbcType="INTEGER" property="maxUserConnections" />
    <result column="plugin" jdbcType="CHAR" property="plugin" />
    <result column="authentication_string" jdbcType="VARCHAR" property="authenticationString" />
    <result column="password_expired" jdbcType="OTHER" property="passwordExpired" />
    <result column="password_last_changed" jdbcType="TIMESTAMP" property="passwordLastChanged" />
    <result column="password_lifetime" jdbcType="SMALLINT" property="passwordLifetime" />
    <result column="account_locked" jdbcType="OTHER" property="accountLocked" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.trade.D001.T0001.Entity.UserEntityWithBLOBs">
    <result column="ssl_cipher" jdbcType="BLOB" property="sslCipher" />
    <result column="x509_issuer" jdbcType="BLOB" property="x509Issuer" />
    <result column="x509_subject" jdbcType="BLOB" property="x509Subject" />
  </resultMap>
  <sql id="Base_Column_List">
    `Host`, `User`, Select_priv, Insert_priv, Update_priv, Delete_priv, Create_priv, 
    Drop_priv, Reload_priv, Shutdown_priv, Process_priv, File_priv, Grant_priv, References_priv, 
    Index_priv, Alter_priv, Show_db_priv, Super_priv, Create_tmp_table_priv, Lock_tables_priv, 
    Execute_priv, Repl_slave_priv, Repl_client_priv, Create_view_priv, Show_view_priv, 
    Create_routine_priv, Alter_routine_priv, Create_user_priv, Event_priv, Trigger_priv, 
    Create_tablespace_priv, ssl_type, max_questions, max_updates, max_connections, max_user_connections, 
    plugin, authentication_string, password_expired, password_last_changed, password_lifetime, 
    account_locked
  </sql>
  <sql id="Blob_Column_List">
    ssl_cipher, x509_issuer, x509_subject
  </sql>

  <!--查询单体记录-->
  <select id="selectByPrimaryKey" parameterType="com.trade.D001.T0001.Entity.UserEntityKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    where `Host` = #{host,jdbcType=CHAR}
      and `User` = #{user,jdbcType=CHAR}
  </select>

  <!--查询全量UserEntityBLOBsAll-->
  <select id="findUserEntityBLOBsAll" resultMap="ResultMapWithBLOBs">
    SELECT * FROM  user
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.trade.D001.T0001.Entity.UserEntityKey">
    delete from user
    where `Host` = #{host,jdbcType=CHAR}
      and `User` = #{user,jdbcType=CHAR}
  </delete>
  <insert id="insert" keyColumn="Host" keyProperty="host" parameterType="com.trade.D001.T0001.Entity.UserEntityWithBLOBs" useGeneratedKeys="true">
    insert into user (`User`, Select_priv, Insert_priv, 
      Update_priv, Delete_priv, Create_priv, 
      Drop_priv, Reload_priv, Shutdown_priv, 
      Process_priv, File_priv, Grant_priv, 
      References_priv, Index_priv, Alter_priv, 
      Show_db_priv, Super_priv, Create_tmp_table_priv, 
      Lock_tables_priv, Execute_priv, Repl_slave_priv, 
      Repl_client_priv, Create_view_priv, Show_view_priv, 
      Create_routine_priv, Alter_routine_priv, Create_user_priv, 
      Event_priv, Trigger_priv, Create_tablespace_priv, 
      ssl_type, max_questions, max_updates, 
      max_connections, max_user_connections, plugin, 
      authentication_string, password_expired, password_last_changed, 
      password_lifetime, account_locked, ssl_cipher, 
      x509_issuer, x509_subject)
    values (#{user,jdbcType=CHAR}, #{selectPriv,jdbcType=OTHER}, #{insertPriv,jdbcType=OTHER}, 
      #{updatePriv,jdbcType=OTHER}, #{deletePriv,jdbcType=OTHER}, #{createPriv,jdbcType=OTHER}, 
      #{dropPriv,jdbcType=OTHER}, #{reloadPriv,jdbcType=OTHER}, #{shutdownPriv,jdbcType=OTHER}, 
      #{processPriv,jdbcType=OTHER}, #{filePriv,jdbcType=OTHER}, #{grantPriv,jdbcType=OTHER}, 
      #{referencesPriv,jdbcType=OTHER}, #{indexPriv,jdbcType=OTHER}, #{alterPriv,jdbcType=OTHER}, 
      #{showDbPriv,jdbcType=OTHER}, #{superPriv,jdbcType=OTHER}, #{createTmpTablePriv,jdbcType=OTHER}, 
      #{lockTablesPriv,jdbcType=OTHER}, #{executePriv,jdbcType=OTHER}, #{replSlavePriv,jdbcType=OTHER}, 
      #{replClientPriv,jdbcType=OTHER}, #{createViewPriv,jdbcType=OTHER}, #{showViewPriv,jdbcType=OTHER}, 
      #{createRoutinePriv,jdbcType=OTHER}, #{alterRoutinePriv,jdbcType=OTHER}, #{createUserPriv,jdbcType=OTHER}, 
      #{eventPriv,jdbcType=OTHER}, #{triggerPriv,jdbcType=OTHER}, #{createTablespacePriv,jdbcType=OTHER}, 
      #{sslType,jdbcType=OTHER}, #{maxQuestions,jdbcType=INTEGER}, #{maxUpdates,jdbcType=INTEGER}, 
      #{maxConnections,jdbcType=INTEGER}, #{maxUserConnections,jdbcType=INTEGER}, #{plugin,jdbcType=CHAR}, 
      #{authenticationString,jdbcType=VARCHAR}, #{passwordExpired,jdbcType=OTHER}, #{passwordLastChanged,jdbcType=TIMESTAMP}, 
      #{passwordLifetime,jdbcType=SMALLINT}, #{accountLocked,jdbcType=OTHER}, #{sslCipher,jdbcType=BLOB}, 
      #{x509Issuer,jdbcType=BLOB}, #{x509Subject,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" keyColumn="Host" keyProperty="host" parameterType="com.trade.D001.T0001.Entity.UserEntityWithBLOBs" useGeneratedKeys="true">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user != null">
        `User`,
      </if>
      <if test="selectPriv != null">
        Select_priv,
      </if>
      <if test="insertPriv != null">
        Insert_priv,
      </if>
      <if test="updatePriv != null">
        Update_priv,
      </if>
      <if test="deletePriv != null">
        Delete_priv,
      </if>
      <if test="createPriv != null">
        Create_priv,
      </if>
      <if test="dropPriv != null">
        Drop_priv,
      </if>
      <if test="reloadPriv != null">
        Reload_priv,
      </if>
      <if test="shutdownPriv != null">
        Shutdown_priv,
      </if>
      <if test="processPriv != null">
        Process_priv,
      </if>
      <if test="filePriv != null">
        File_priv,
      </if>
      <if test="grantPriv != null">
        Grant_priv,
      </if>
      <if test="referencesPriv != null">
        References_priv,
      </if>
      <if test="indexPriv != null">
        Index_priv,
      </if>
      <if test="alterPriv != null">
        Alter_priv,
      </if>
      <if test="showDbPriv != null">
        Show_db_priv,
      </if>
      <if test="superPriv != null">
        Super_priv,
      </if>
      <if test="createTmpTablePriv != null">
        Create_tmp_table_priv,
      </if>
      <if test="lockTablesPriv != null">
        Lock_tables_priv,
      </if>
      <if test="executePriv != null">
        Execute_priv,
      </if>
      <if test="replSlavePriv != null">
        Repl_slave_priv,
      </if>
      <if test="replClientPriv != null">
        Repl_client_priv,
      </if>
      <if test="createViewPriv != null">
        Create_view_priv,
      </if>
      <if test="showViewPriv != null">
        Show_view_priv,
      </if>
      <if test="createRoutinePriv != null">
        Create_routine_priv,
      </if>
      <if test="alterRoutinePriv != null">
        Alter_routine_priv,
      </if>
      <if test="createUserPriv != null">
        Create_user_priv,
      </if>
      <if test="eventPriv != null">
        Event_priv,
      </if>
      <if test="triggerPriv != null">
        Trigger_priv,
      </if>
      <if test="createTablespacePriv != null">
        Create_tablespace_priv,
      </if>
      <if test="sslType != null">
        ssl_type,
      </if>
      <if test="maxQuestions != null">
        max_questions,
      </if>
      <if test="maxUpdates != null">
        max_updates,
      </if>
      <if test="maxConnections != null">
        max_connections,
      </if>
      <if test="maxUserConnections != null">
        max_user_connections,
      </if>
      <if test="plugin != null">
        plugin,
      </if>
      <if test="authenticationString != null">
        authentication_string,
      </if>
      <if test="passwordExpired != null">
        password_expired,
      </if>
      <if test="passwordLastChanged != null">
        password_last_changed,
      </if>
      <if test="passwordLifetime != null">
        password_lifetime,
      </if>
      <if test="accountLocked != null">
        account_locked,
      </if>
      <if test="sslCipher != null">
        ssl_cipher,
      </if>
      <if test="x509Issuer != null">
        x509_issuer,
      </if>
      <if test="x509Subject != null">
        x509_subject,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="selectPriv != null">
        #{selectPriv,jdbcType=OTHER},
      </if>
      <if test="insertPriv != null">
        #{insertPriv,jdbcType=OTHER},
      </if>
      <if test="updatePriv != null">
        #{updatePriv,jdbcType=OTHER},
      </if>
      <if test="deletePriv != null">
        #{deletePriv,jdbcType=OTHER},
      </if>
      <if test="createPriv != null">
        #{createPriv,jdbcType=OTHER},
      </if>
      <if test="dropPriv != null">
        #{dropPriv,jdbcType=OTHER},
      </if>
      <if test="reloadPriv != null">
        #{reloadPriv,jdbcType=OTHER},
      </if>
      <if test="shutdownPriv != null">
        #{shutdownPriv,jdbcType=OTHER},
      </if>
      <if test="processPriv != null">
        #{processPriv,jdbcType=OTHER},
      </if>
      <if test="filePriv != null">
        #{filePriv,jdbcType=OTHER},
      </if>
      <if test="grantPriv != null">
        #{grantPriv,jdbcType=OTHER},
      </if>
      <if test="referencesPriv != null">
        #{referencesPriv,jdbcType=OTHER},
      </if>
      <if test="indexPriv != null">
        #{indexPriv,jdbcType=OTHER},
      </if>
      <if test="alterPriv != null">
        #{alterPriv,jdbcType=OTHER},
      </if>
      <if test="showDbPriv != null">
        #{showDbPriv,jdbcType=OTHER},
      </if>
      <if test="superPriv != null">
        #{superPriv,jdbcType=OTHER},
      </if>
      <if test="createTmpTablePriv != null">
        #{createTmpTablePriv,jdbcType=OTHER},
      </if>
      <if test="lockTablesPriv != null">
        #{lockTablesPriv,jdbcType=OTHER},
      </if>
      <if test="executePriv != null">
        #{executePriv,jdbcType=OTHER},
      </if>
      <if test="replSlavePriv != null">
        #{replSlavePriv,jdbcType=OTHER},
      </if>
      <if test="replClientPriv != null">
        #{replClientPriv,jdbcType=OTHER},
      </if>
      <if test="createViewPriv != null">
        #{createViewPriv,jdbcType=OTHER},
      </if>
      <if test="showViewPriv != null">
        #{showViewPriv,jdbcType=OTHER},
      </if>
      <if test="createRoutinePriv != null">
        #{createRoutinePriv,jdbcType=OTHER},
      </if>
      <if test="alterRoutinePriv != null">
        #{alterRoutinePriv,jdbcType=OTHER},
      </if>
      <if test="createUserPriv != null">
        #{createUserPriv,jdbcType=OTHER},
      </if>
      <if test="eventPriv != null">
        #{eventPriv,jdbcType=OTHER},
      </if>
      <if test="triggerPriv != null">
        #{triggerPriv,jdbcType=OTHER},
      </if>
      <if test="createTablespacePriv != null">
        #{createTablespacePriv,jdbcType=OTHER},
      </if>
      <if test="sslType != null">
        #{sslType,jdbcType=OTHER},
      </if>
      <if test="maxQuestions != null">
        #{maxQuestions,jdbcType=INTEGER},
      </if>
      <if test="maxUpdates != null">
        #{maxUpdates,jdbcType=INTEGER},
      </if>
      <if test="maxConnections != null">
        #{maxConnections,jdbcType=INTEGER},
      </if>
      <if test="maxUserConnections != null">
        #{maxUserConnections,jdbcType=INTEGER},
      </if>
      <if test="plugin != null">
        #{plugin,jdbcType=CHAR},
      </if>
      <if test="authenticationString != null">
        #{authenticationString,jdbcType=VARCHAR},
      </if>
      <if test="passwordExpired != null">
        #{passwordExpired,jdbcType=OTHER},
      </if>
      <if test="passwordLastChanged != null">
        #{passwordLastChanged,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordLifetime != null">
        #{passwordLifetime,jdbcType=SMALLINT},
      </if>
      <if test="accountLocked != null">
        #{accountLocked,jdbcType=OTHER},
      </if>
      <if test="sslCipher != null">
        #{sslCipher,jdbcType=BLOB},
      </if>
      <if test="x509Issuer != null">
        #{x509Issuer,jdbcType=BLOB},
      </if>
      <if test="x509Subject != null">
        #{x509Subject,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trade.D001.T0001.Entity.UserEntityWithBLOBs">
    update user
    <set>
      <if test="selectPriv != null">
        Select_priv = #{selectPriv,jdbcType=OTHER},
      </if>
      <if test="insertPriv != null">
        Insert_priv = #{insertPriv,jdbcType=OTHER},
      </if>
      <if test="updatePriv != null">
        Update_priv = #{updatePriv,jdbcType=OTHER},
      </if>
      <if test="deletePriv != null">
        Delete_priv = #{deletePriv,jdbcType=OTHER},
      </if>
      <if test="createPriv != null">
        Create_priv = #{createPriv,jdbcType=OTHER},
      </if>
      <if test="dropPriv != null">
        Drop_priv = #{dropPriv,jdbcType=OTHER},
      </if>
      <if test="reloadPriv != null">
        Reload_priv = #{reloadPriv,jdbcType=OTHER},
      </if>
      <if test="shutdownPriv != null">
        Shutdown_priv = #{shutdownPriv,jdbcType=OTHER},
      </if>
      <if test="processPriv != null">
        Process_priv = #{processPriv,jdbcType=OTHER},
      </if>
      <if test="filePriv != null">
        File_priv = #{filePriv,jdbcType=OTHER},
      </if>
      <if test="grantPriv != null">
        Grant_priv = #{grantPriv,jdbcType=OTHER},
      </if>
      <if test="referencesPriv != null">
        References_priv = #{referencesPriv,jdbcType=OTHER},
      </if>
      <if test="indexPriv != null">
        Index_priv = #{indexPriv,jdbcType=OTHER},
      </if>
      <if test="alterPriv != null">
        Alter_priv = #{alterPriv,jdbcType=OTHER},
      </if>
      <if test="showDbPriv != null">
        Show_db_priv = #{showDbPriv,jdbcType=OTHER},
      </if>
      <if test="superPriv != null">
        Super_priv = #{superPriv,jdbcType=OTHER},
      </if>
      <if test="createTmpTablePriv != null">
        Create_tmp_table_priv = #{createTmpTablePriv,jdbcType=OTHER},
      </if>
      <if test="lockTablesPriv != null">
        Lock_tables_priv = #{lockTablesPriv,jdbcType=OTHER},
      </if>
      <if test="executePriv != null">
        Execute_priv = #{executePriv,jdbcType=OTHER},
      </if>
      <if test="replSlavePriv != null">
        Repl_slave_priv = #{replSlavePriv,jdbcType=OTHER},
      </if>
      <if test="replClientPriv != null">
        Repl_client_priv = #{replClientPriv,jdbcType=OTHER},
      </if>
      <if test="createViewPriv != null">
        Create_view_priv = #{createViewPriv,jdbcType=OTHER},
      </if>
      <if test="showViewPriv != null">
        Show_view_priv = #{showViewPriv,jdbcType=OTHER},
      </if>
      <if test="createRoutinePriv != null">
        Create_routine_priv = #{createRoutinePriv,jdbcType=OTHER},
      </if>
      <if test="alterRoutinePriv != null">
        Alter_routine_priv = #{alterRoutinePriv,jdbcType=OTHER},
      </if>
      <if test="createUserPriv != null">
        Create_user_priv = #{createUserPriv,jdbcType=OTHER},
      </if>
      <if test="eventPriv != null">
        Event_priv = #{eventPriv,jdbcType=OTHER},
      </if>
      <if test="triggerPriv != null">
        Trigger_priv = #{triggerPriv,jdbcType=OTHER},
      </if>
      <if test="createTablespacePriv != null">
        Create_tablespace_priv = #{createTablespacePriv,jdbcType=OTHER},
      </if>
      <if test="sslType != null">
        ssl_type = #{sslType,jdbcType=OTHER},
      </if>
      <if test="maxQuestions != null">
        max_questions = #{maxQuestions,jdbcType=INTEGER},
      </if>
      <if test="maxUpdates != null">
        max_updates = #{maxUpdates,jdbcType=INTEGER},
      </if>
      <if test="maxConnections != null">
        max_connections = #{maxConnections,jdbcType=INTEGER},
      </if>
      <if test="maxUserConnections != null">
        max_user_connections = #{maxUserConnections,jdbcType=INTEGER},
      </if>
      <if test="plugin != null">
        plugin = #{plugin,jdbcType=CHAR},
      </if>
      <if test="authenticationString != null">
        authentication_string = #{authenticationString,jdbcType=VARCHAR},
      </if>
      <if test="passwordExpired != null">
        password_expired = #{passwordExpired,jdbcType=OTHER},
      </if>
      <if test="passwordLastChanged != null">
        password_last_changed = #{passwordLastChanged,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordLifetime != null">
        password_lifetime = #{passwordLifetime,jdbcType=SMALLINT},
      </if>
      <if test="accountLocked != null">
        account_locked = #{accountLocked,jdbcType=OTHER},
      </if>
      <if test="sslCipher != null">
        ssl_cipher = #{sslCipher,jdbcType=BLOB},
      </if>
      <if test="x509Issuer != null">
        x509_issuer = #{x509Issuer,jdbcType=BLOB},
      </if>
      <if test="x509Subject != null">
        x509_subject = #{x509Subject,jdbcType=BLOB},
      </if>
    </set>
    where `Host` = #{host,jdbcType=CHAR}
      and `User` = #{user,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.trade.D001.T0001.Entity.UserEntityWithBLOBs">
    update user
    set Select_priv = #{selectPriv,jdbcType=OTHER},
      Insert_priv = #{insertPriv,jdbcType=OTHER},
      Update_priv = #{updatePriv,jdbcType=OTHER},
      Delete_priv = #{deletePriv,jdbcType=OTHER},
      Create_priv = #{createPriv,jdbcType=OTHER},
      Drop_priv = #{dropPriv,jdbcType=OTHER},
      Reload_priv = #{reloadPriv,jdbcType=OTHER},
      Shutdown_priv = #{shutdownPriv,jdbcType=OTHER},
      Process_priv = #{processPriv,jdbcType=OTHER},
      File_priv = #{filePriv,jdbcType=OTHER},
      Grant_priv = #{grantPriv,jdbcType=OTHER},
      References_priv = #{referencesPriv,jdbcType=OTHER},
      Index_priv = #{indexPriv,jdbcType=OTHER},
      Alter_priv = #{alterPriv,jdbcType=OTHER},
      Show_db_priv = #{showDbPriv,jdbcType=OTHER},
      Super_priv = #{superPriv,jdbcType=OTHER},
      Create_tmp_table_priv = #{createTmpTablePriv,jdbcType=OTHER},
      Lock_tables_priv = #{lockTablesPriv,jdbcType=OTHER},
      Execute_priv = #{executePriv,jdbcType=OTHER},
      Repl_slave_priv = #{replSlavePriv,jdbcType=OTHER},
      Repl_client_priv = #{replClientPriv,jdbcType=OTHER},
      Create_view_priv = #{createViewPriv,jdbcType=OTHER},
      Show_view_priv = #{showViewPriv,jdbcType=OTHER},
      Create_routine_priv = #{createRoutinePriv,jdbcType=OTHER},
      Alter_routine_priv = #{alterRoutinePriv,jdbcType=OTHER},
      Create_user_priv = #{createUserPriv,jdbcType=OTHER},
      Event_priv = #{eventPriv,jdbcType=OTHER},
      Trigger_priv = #{triggerPriv,jdbcType=OTHER},
      Create_tablespace_priv = #{createTablespacePriv,jdbcType=OTHER},
      ssl_type = #{sslType,jdbcType=OTHER},
      max_questions = #{maxQuestions,jdbcType=INTEGER},
      max_updates = #{maxUpdates,jdbcType=INTEGER},
      max_connections = #{maxConnections,jdbcType=INTEGER},
      max_user_connections = #{maxUserConnections,jdbcType=INTEGER},
      plugin = #{plugin,jdbcType=CHAR},
      authentication_string = #{authenticationString,jdbcType=VARCHAR},
      password_expired = #{passwordExpired,jdbcType=OTHER},
      password_last_changed = #{passwordLastChanged,jdbcType=TIMESTAMP},
      password_lifetime = #{passwordLifetime,jdbcType=SMALLINT},
      account_locked = #{accountLocked,jdbcType=OTHER},
      ssl_cipher = #{sslCipher,jdbcType=BLOB},
      x509_issuer = #{x509Issuer,jdbcType=BLOB},
      x509_subject = #{x509Subject,jdbcType=BLOB}
    where `Host` = #{host,jdbcType=CHAR}
      and `User` = #{user,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trade.D001.T0001.Entity.UserEntity">
    update user
    set Select_priv = #{selectPriv,jdbcType=OTHER},
      Insert_priv = #{insertPriv,jdbcType=OTHER},
      Update_priv = #{updatePriv,jdbcType=OTHER},
      Delete_priv = #{deletePriv,jdbcType=OTHER},
      Create_priv = #{createPriv,jdbcType=OTHER},
      Drop_priv = #{dropPriv,jdbcType=OTHER},
      Reload_priv = #{reloadPriv,jdbcType=OTHER},
      Shutdown_priv = #{shutdownPriv,jdbcType=OTHER},
      Process_priv = #{processPriv,jdbcType=OTHER},
      File_priv = #{filePriv,jdbcType=OTHER},
      Grant_priv = #{grantPriv,jdbcType=OTHER},
      References_priv = #{referencesPriv,jdbcType=OTHER},
      Index_priv = #{indexPriv,jdbcType=OTHER},
      Alter_priv = #{alterPriv,jdbcType=OTHER},
      Show_db_priv = #{showDbPriv,jdbcType=OTHER},
      Super_priv = #{superPriv,jdbcType=OTHER},
      Create_tmp_table_priv = #{createTmpTablePriv,jdbcType=OTHER},
      Lock_tables_priv = #{lockTablesPriv,jdbcType=OTHER},
      Execute_priv = #{executePriv,jdbcType=OTHER},
      Repl_slave_priv = #{replSlavePriv,jdbcType=OTHER},
      Repl_client_priv = #{replClientPriv,jdbcType=OTHER},
      Create_view_priv = #{createViewPriv,jdbcType=OTHER},
      Show_view_priv = #{showViewPriv,jdbcType=OTHER},
      Create_routine_priv = #{createRoutinePriv,jdbcType=OTHER},
      Alter_routine_priv = #{alterRoutinePriv,jdbcType=OTHER},
      Create_user_priv = #{createUserPriv,jdbcType=OTHER},
      Event_priv = #{eventPriv,jdbcType=OTHER},
      Trigger_priv = #{triggerPriv,jdbcType=OTHER},
      Create_tablespace_priv = #{createTablespacePriv,jdbcType=OTHER},
      ssl_type = #{sslType,jdbcType=OTHER},
      max_questions = #{maxQuestions,jdbcType=INTEGER},
      max_updates = #{maxUpdates,jdbcType=INTEGER},
      max_connections = #{maxConnections,jdbcType=INTEGER},
      max_user_connections = #{maxUserConnections,jdbcType=INTEGER},
      plugin = #{plugin,jdbcType=CHAR},
      authentication_string = #{authenticationString,jdbcType=VARCHAR},
      password_expired = #{passwordExpired,jdbcType=OTHER},
      password_last_changed = #{passwordLastChanged,jdbcType=TIMESTAMP},
      password_lifetime = #{passwordLifetime,jdbcType=SMALLINT},
      account_locked = #{accountLocked,jdbcType=OTHER}
    where `Host` = #{host,jdbcType=CHAR}
      and `User` = #{user,jdbcType=CHAR}
  </update>
</mapper>